<%= form_with(model: tenant, local: true) do |form| %>
  <% if tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
      <% tenant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.select :client_id, options_from_collection_for_select(Client.all, :id, :name, tenant.client_id) %>
  </div>

  <div class="field">
    <%= form.label :lease_id %>
    <%= form.select :lease_id, options_from_collection_for_select(Lease.all, :id, :name, tenant.lease_id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
