<%= form_with(model: phone, local: true) do |form| %>
  <% if phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :variety %>
    <%= form.text_field :variety %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.select :client_id, options_from_collection_for_select(Client.all, :id, :name, phone.client_id), :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :employer_id %>
    <%= form.select :employer_id, options_from_collection_for_select(Employer.all, :id, :name, phone.employer_id), :include_blank => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
