<p id="notice"><%= notice %></p>

<h1>Phones</h1>

<table>
  <thead>
    <tr>
      <th>Variety</th>
      <th>Number</th>
      <th>Client</th>
      <th>Employer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= phone.variety %></td>
        <td><%= phone.number %></td>
        <td><%= link_to_name_with_icon phone.client %></td>
        <td><%= link_to_name_with_icon phone.employer %></td>
        <td><%= link_to 'Show', phone %></td>
        <td><%= link_to fa_icon(:highlighter), edit_phone_path(phone), :title => 'Edit' %></td>
        <td><%= link_to 'Destroy', phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @phones %>
<br>

<%= link_to 'New Phone', new_phone_path %>
