<p id="notice"><%= notice %></p>

<p>
  <strong>Variety:</strong>
  <%= @phone.variety %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to_name_with_icon @phone.client %>
</p>

<p>
  <strong>Employer:</strong>
  <%= link_to_name_with_icon @phone.employer %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
