<p>
  <strong>Variety:</strong>
  <%= @phone.variety %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to_name_with_icon @phone.client %>
</p>

<p>
  <strong>Employer:</strong>
  <%= link_to_name_with_icon @phone.employer %>
</p>

<%= link_to fa_icon(:highlighter), edit_phone_path(@phone), :title => 'Edit' %>
