<p>
  <strong>Position:</strong>
  <%= @employment.position %>
</p>

<p>
  <strong>Income:</strong>
  <%= number_to_round_currency @employment.income %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @employment.start_date %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to_name_with_icon @employment.client %>
</p>

<p>
  <strong>Employer:</strong>
  <%= link_to_name_with_icon @employment.employer %>
</p>

<%= link_to fa_icon(:highlighter), edit_employment_path(@employment), :title => 'Edit' %>
