<%= form_with(model: assistant, local: true) do |form| %>
  <% if assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
      <% assistant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate %>
  </div>
  
  <div class="field">
    <%= form.label :payable_first_name %>
    <%= form.text_field :payable_first_name %>
  </div>

  <div class="field">
    <%= form.label :payable_last_name %>
    <%= form.text_field :payable_last_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
