<%= link_to '[edit]', edit_assistant_path(@assistant) %>

<p>
  <strong>First name:</strong>
  <%= @assistant.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @assistant.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @assistant.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @assistant.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assistant.status %>
</p>

<table>
  <% @assistant.assists.each do |assist| %>
    <tr>
      <td><%= link_to_name assist %></td>
      <td><%= number_to_currency assist.payout %></td>
    </tr>
  <% end %>
</table>
