<%= form_with(model: nich, local: true) do |form| %>
  <% if nich.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nich.errors.count, "error") %> prohibited this nich from being saved:</h2>

      <ul>
      <% nich.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employer_id %>
    <%= form.text_field :employer_id %>
  </div>

  <div class="field">
    <%= form.label :industry_id %>
    <%= form.text_field :industry_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
