<p id="notice"><%= notice %></p>

<h1>Niches</h1>

<table>
  <thead>
    <tr>
      <th>Employer</th>
      <th>Industry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @niches.each do |niche| %>
      <tr>
        <td><%= link_to_name_with_icon niche.employer %></td>
        <td><%= link_to_name_with_icon niche.industry %></td>
        <td><%= link_to 'Show', niche %></td>
        <td><%= link_to 'Edit', edit_niche_path(niche) %></td>
        <td><%= link_to 'Destroy', niche, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @niches %>
<br>

<%= link_to 'New Niche', new_niche_path %>
