<p id="notice"><%= notice %></p>

<p>
  <strong>Employer:</strong>
  <%= link_to_name_with_icon @niche.employer %>
</p>

<p>
  <strong>Industry:</strong>
  <%= link_to_name_with_icon @niche.industry %>
</p>

<%= link_to fa_icon(:highlighter), edit_niche_path(@niche), :title => 'Edit' %> |
<%= link_to 'Back', niches_path %>
