<p id="notice"><%= notice %></p>

<p>
  <strong>Employer:</strong>
  <%= link_to_name @niche.employer %>
</p>

<p>
  <strong>Industry:</strong>
  <%= link_to_name @niche.industry %>
</p>

<%= link_to 'Edit', edit_niche_path(@niche) %> |
<%= link_to 'Back', niches_path %>
