<p id="notice"><%= notice %></p>

<p>
  <strong>Employer:</strong>
  <%= @nich.employer %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @nich.industry %>
</p>

<%= link_to 'Edit', edit_nich_path(@nich) %> |
<%= link_to 'Back', niches_path %>
