<h1>Participants</h1>

<table>
  <thead>
    <tr>
      <th>Deal</th>
      <th>Assistant</th>
      <th>Role</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.deal&.name %></td>
        <td><%= participant.assistant&.name %></td>
        <td><%= participant.role %></td>
        <td><%= participant.status %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
