<%= link_to '[edit]', edit_participant_path(@participant) %>
<p>
  <strong>Deal:</strong>
  <%= link_to_name @participant.deal %>
</p>

<p>
  <strong>Assistant:</strong>
  <%= link_to_name @participant.assistant %>
</p>

<p>
  <strong>Role:</strong>
  <%= @participant.role %>
</p>

<p>
  <strong>Status:</strong>
  <%= @participant.status %>
</p>
