<p id="notice"><%= notice %></p>

<h1>Registrants</h1>

<table>
  <thead>
    <tr>
      <th>Other fund sources</th>
      <th><%= link_to 'First', filter_params.merge(:sort => 'first_name') %> <%= link_to 'Last', filter_params.merge(:sort => 'last_name') %></th>
      <th>Registration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrants.each do |registrant| %>
      <tr>
        <td><%= registrant.other_fund_sources %></td>
        <td><%= link_to_name_with_icon registrant.client %></td>
        <td><%= link_to_name_with_icon registrant.registration %></td>
        <td><%= link_to 'Show', registrant %></td>
        <td><%= link_to fa_icon(:highlighter), edit_registrant_path(registrant), :title => 'Edit' %></td>
        <td><%= link_to fa_icon(:backspace), registrant, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @registrants %>
<br>

<%= link_to 'New Registrant', new_registrant_path %>
