<p id="notice"><%= notice %></p>

<h1>Registrations</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Clients</th>
      <th>Time</th>
      <th>Employments</th>
      <th>Apartments</th>
      <th>Leases</th>
      <th><%= link_to 'Minimum price', filter_params.merge(:sort => 'minimum_price') %></th>
      <th><%= link_to 'Maximum price', filter_params.merge(:sort => 'maximum_price') %></th>
      <th>Size</th>
      <th>Move by</th>
      <th>Reason for moving</th>
      <th>Occupants</th>
      <th>Pets</th>
      <th><%= link_to 'Referral source', filter_params.merge(:sort => 'referral_source_id') %></th>
      <th><%= link_to 'Agent', filter_params.merge(:sort => 'agent_id') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class='registration_control'>
    <% @registrations.each do |registration| %>
      <tr>
        <td class='registration_printout'><%= link_to 'PDF/Printout', card_registration_path(registration, :format => :pdf) %></td>
        <td class='registration_clients'>
          <%= registration.clients.map(&:name).to_sentence %>
        </td>
        <td><%= time_ago_in_words registration.created_at %> ago</td>
        <td>
          <%= mark_up registration.fub_description %>
        </td>
        <td><%= link_to_associated registration, :employments %></td>
        <td><%= link_to_associated registration, :apartments %></td>
        <td><%= link_to_associated registration, :leases %></td>
        <td><%= number_to_round_currency registration.minimum_price %></td>
        <td><%= number_to_round_currency registration.maximum_price %></td>
        <td><%= registration.size %></td>
        <td><%= registration.move_by&.strftime "%b %-d" %><%= '-' if registration.move_by.present? && registration.move_by_latest.present? %><%= registration.move_by_latest&.strftime "%b %-d" %></td>
        <td><%= registration.reason_for_moving %></td>
        <td><%= registration.occupants %></td>
        <td><%= registration.pets %></td>
        <td><%= link_to_name_with_icon registration.referral_source %></td>
        <td><%= link_to_name_with_icon registration.agent %></td>
        <td><%= link_to 'Printout', card_registration_path(registration, :format => :pdf) %></td>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to fa_icon(:highlighter), edit_registration_path(registration), :title => 'Edit' %></td>
        <td><%= link_to fa_icon(:backspace), registration, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @registrations %>
<br>

<%= link_to 'New Registration', new_registration_path %>
<div class="tools">
  <%= fabricate_registration_link %>
</div>
