<p>
  <strong>Minimum price:</strong>
  <%= number_to_round_currency @registration.minimum_price %>
</p>

<p>
  <strong>Maximum price:</strong>
  <%= number_to_round_currency @registration.maximum_price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @registration.size %>
</p>

<p>
  <strong>Move by:</strong>
  <%= @registration.move_by %>
</p>

<p>
  <strong>Reason for moving:</strong>
  <%= @registration.reason_for_moving %>
</p>

<p>
  <strong>Occupants:</strong>
  <%= @registration.occupants %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @registration.pets %>
</p>

<p>
  <strong>Referral source:</strong>
  <%= link_to_name_with_icon @registration.referral_source %>
</p>

<p>
  <strong>Agent:</strong>
  <%= link_to_name_with_icon @registration.agent %>
</p>

<%= div_for @registration do %>
  <%= div_for @registration, :landlords_of do %>
    <% @registration.landlords.each do |landlord| %>
      <%= div_for landlord do %>
        <%= link_to_name_with_icon landlord %>
      <% end %>
    <% end %>
  <% end %>
  
  <%= div_for @registration, :leases_of do %>
    <% @registration.leases.each do |lease| %>
      <%= div_for lease do %>
        <%= link_to_name_with_icon lease %>
      <% end %>
    <% end %>
  <% end %>
  
  <%= div_for @registration, :apartments_of do %>
    <% @registration.apartments.each do |apartment| %>
      <%= div_for apartment do %>
        <%= link_to_name_with_icon apartment %>
      <% end %>
    <% end %>
  <% end %>

  <% @registration.clients.each do |client| %>
    <%= div_for client do %>
      <%= link_to_name_with_icon client %>
    
      <%= div_for client, :registrant_for do %>
        <% registrant = client.registrants.where(:registration_id => @registration).take %>
        <%= registrant.other_fund_sources %>
        <%= link_to_name_with_icon registrant %>
      <% end %>
    
      <%= div_for client, :employment_of do %>
        <% client.employments.each do |employment| %>
          <%= div_for employment do %>
            <%= link_to_name_with_icon employment %>
            <%= link_to_name_with_icon employment.employer %>
            <% employment.employer.industries.each do |industry| %>
              <%= div_for industry do %>
                <%= link_to_name_with_icon industry %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    
      <%= div_for client, :contacts_for do %>
        <%= div_for client, :emails_for do %>
          <% client.emails.each do |email| %>
            <%= div_for email do %>
              <%= link_to_name_with_icon email, :address %>
              (<%= email.variety %>)
            <% end %>
          <% end %>
        <% end %>
      
        <%= div_for client, :phones_for do %>
          <% client.phones.each do |phone| %>
            <%= div_for phone do %>
              <%= link_to_name_with_icon phone, :number %>
              (<%= phone.variety %>)
            <% end %>
          <% end %>
        <% end %>
      
        <%= div_for client, :social_accounts_for do %>
          <% client.social_accounts.each do |social_account| %>
            <%= div_for social_account do %>
              <%= link_to_name_with_icon social_account, :moniker %>
              <%= link_to social_account.url %>
              (<%= social_account.variety %>)
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= link_to fa_icon(:highlighter), edit_registration_path(@registration), :title => 'Edit' %>
