<h1>Calendar Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Invitees</th>
      <th>Location</th>
      <th>Follow up boss</th>
      <th>Google</th>
      <th>Calendly</th>
      <th>Agent</th>
      <th>Confirmed at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar_events.each do |calendar_event| %>
      <tr>
        <td><%= calendar_event.title %></td>
        <td><%= calendar_event.description %></td>
        <td><%= calendar_event.start_time %></td>
        <td><%= calendar_event.end_time %></td>
        <td><%= calendar_event.invitees %></td>
        <td><%= calendar_event.location %></td>
        <td><%= calendar_event.follow_up_boss_id %></td>
        <td><%= calendar_event.google_id %></td>
        <td><%= calendar_event.calendly_id %></td>
        <td><%= link_to_name_with_icon calendar_event.agent %></td>
        <td><%= calendar_event.confirmed_at %></td>
        <td><%= link_to 'Show', calendar_event %></td>
        <td><%= link_to 'Edit', edit_calendar_event_path(calendar_event) %></td>
        <td><%= link_to 'Destroy', calendar_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar Event', new_calendar_event_path %>
