<div id="registration_interface">
  <%= form_tag :url => submit_registration_path do %>
    <div class="reg_form_quadrant">
      <div class="bordered inline">
        <%= label :registration, :minimum_price, 'Price Range:' %><br>
        <%= select :registration, :minimum_price, price_range_options, :include_blank => 'Minimum' %>
        <%= select :registration, :maximum_price, price_range_options, :include_blank => 'Maximum' %>
      </div>
      <div class="bordered inline">
        <%= label :registration, :size, 'Size:' %><br>
        <%= select :registration, :size, size_options, :include_blank => '[Minimum]' %>
      </div>
      <div class="bordered inline">
        <div>
          <%= select :registration, :referral_source_id, referral_source_options, :include_blank => 'How did you hear about us?' %>
        </div>
      </div>
      <div class="bordered inline">
        <div>
          <%= label :registration, :move_by, 'I must move by:' %>
          <%= text_field :registration, :move_by, :placeholder => 'Moving Date', :class => 'datepicker birthdate' %>
        </div>
      </div>
    </div>
  
    <%= render :partial => 'registrant', :locals => {:roommate_number => 1} %>
      <div class="bordered">
        <div class="inline">
          <%= text_area :registration, :reason_for_moving, :placeholder => 'Reason For Moving' %>
        </div>
        <div class="inline">
          <div>
            <%= text_field :registration, :occupants, :placeholder => 'Number of Occupants' %>
          </div>
          <div>
            <%= text_field :registration, :pets, :placeholder => 'Type and Size of Any Pets' %>
          </div>
        </div>
      </div>
    </div>

    <%= render :partial => 'registrant', :locals => {:roommate_number => 2} %></div>
  
    <p>
      What apartments have you seen prior to visiting us?  Are there any apartments you are currently considering?
    </p>
    <div class="reg_form_quadrant">
      <div class="bordered">
        <div class="inline">
          <%= text_field :apartment_1, :unit_number, :placeholder => 'Apt', :class => 'address_part', :title => 'Apartment Number' %>
          <%= text_field :apartment_1, :street_number, :placeholder => 'Bldg', :class => 'address_part', :title => 'Street Address (number)' %>
          <%= text_field :apartment_1, :street_name, :placeholder => 'Street', :class => 'street' %>
          <%= text_field :apartment_1, :zip_code, :placeholder => 'Zip', :class => 'zip' %>
        </div>
        <div class="inline">
          <%= text_field :apartment_1, :size, :placeholder => 'Size', :class => 'medium' %>
        </div>
        <div class="inline">
          <%= text_field :apartment_1, :rent, :placeholder => 'Rent', :class => 'medium' %>
        </div>
        <div class="inline">
          <%= text_field :apartment_1, :comment, :placeholder => 'Comment' %>
        </div>
      </div>
      <div class="bordered">
        <div class="inline">
          <%= text_field :apartment_2, :unit_number, :placeholder => 'Apt', :class => 'address_part', :title => 'Apartment Number' %>
          <%= text_field :apartment_2, :street_number, :placeholder => 'Bldg', :class => 'address_part', :title => 'Street Address (number)' %>
          <%= text_field :apartment_2, :street_name, :placeholder => 'Street', :class => 'street' %>
          <%= text_field :apartment_2, :zip_code, :placeholder => 'Zip', :class => 'zip' %>
        </div>
        <div class="inline">
          <%= text_field :apartment_2, :size, :placeholder => 'Size', :class => 'medium' %>
        </div>
        <div class="inline">
          <%= text_field :apartment_2, :rent, :placeholder => 'Rent', :class => 'medium' %>
        </div>
        <div class="inline">
          <%= text_field :apartment_2, :comment, :placeholder => 'Comment' %>
        </div>
      </div>
    </div>
    <%= submit_tag 'Submit & Go to Next Page' %>
    <%= hidden_field :registration, :agent_id, :value => params[:agent_id] %>
  <% end %>
</div>
