<%= image_tag 'chLogox1.jpg' %>
<header class="document_title">Commission Agreement</header>
<section class="commission_agreement">
  <%= mark_up t('legal')[:commission_agreement][:explanation] %>
  <%= mark_up t('legal')[:commission_agreement][:short_term] %>
  <%= mark_up t('legal')[:commission_agreement][:exclusion_list] %>
  <%= mark_up t('legal')[:commission_agreement][:legal_fees] %>
  <%= mark_up t('legal')[:commission_agreement][:owner_pays] %>
  <%= mark_up t('legal')[:commission_agreement][:signature] %>
  
  <%= form_with :model => @registration do |registration_form| %>
    <%= registration_form.text_field :signature, :placeholder => 'Your Name Here' %>
    <%= button_tag 'I agree.', :id => 'commission_agreement_acceptance' %>
  <% end %>
</section>

<section id="commission_agreement_thanks">
  Thank you.<br>
  Let's begin.
</section>
