<%= form_with(model: assist, local: true) do |form| %>
  <% if assist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assist.errors.count, "error") %> prohibited this assist from being saved:</h2>

      <ul>
      <% assist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :deal_id %>
    <%= form.select :deal_id, options_from_collection_for_select(Deal.all, :id, :reference, assist.deal_id), :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :agent_id %>
    <%= form.select :agent_id, options_from_collection_for_select(Agent.all, :id, :name, assist.agent_id), :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, options_from_collection_for_select(Role.all, :id, :name, assist.role_id) %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Assist.statuses.keys, :include_blank => true %>
  </div>
  
  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate %>
  </div>

  <div class="field">
    <%= form.label :adjustment %>
    <%= form.text_field :adjustment %>
  </div>

  <div class="field">
    <%= form.label :expense %>
    <%= form.text_field :expense %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
