<h1>Assists</h1>
<header>These objects track who played a role in each deal.</header>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Deal', :sort => 'deal_id', :filtered_attribute => params[:filtered_attribute], :filter_value => params[:filter_value] %></th>
      <th><%= link_to 'Assistant', :sort => 'assistant_id', :filtered_attribute => params[:filtered_attribute], :filter_value => params[:filter_value] %></th>
      <% if current_avatar.admin? %>
        <th><%= link_to 'Payout', :sort => 'payout', :filtered_attribute => params[:filtered_attribute], :filter_value => params[:filter_value] %></th>
      <% end %>
      <th>Role</th>
      <th>Status</th>
      <th><%= link_to 'Updated', :sort => 'updated_at', :filtered_attribute => params[:filtered_attribute], :filter_value => params[:filter_value] %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assists.each do |assist| %>
      <tr>
        <td><%= link_to_name_with_icon assist.deal, :reference %></td>
        <td><%= link_to_name_with_icon assist.assistant %></td>
        <% if current_avatar.admin? %>
          <td><%= number_to_currency assist.payout %></td>
        <% end %>
        <td><%= participation_in assist.role %></td>
        <td><%= assist.status %></td>
        <td><%= assist.updated_at.to_s :descriptive %></td>
        <td><%= link_to 'Show', assist %></td>
        <td><%= link_to 'Edit', edit_assist_path(assist) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @assists %>

<br>

<div class="tools">
  <%= link_to 'New Assist', new_assist_path %>
</div>
