<p>
  <strong>Deal:</strong>
  <%= link_to_name_with_icon @assist.deal, :reference %>
</p>

<p>
  <strong>Agent:</strong>
  <%= link_to_name_with_icon @assist.agent %>
</p>

<p>
  <strong>Role:</strong>
  <%= link_to_name_with_icon @assist.role %>
</p>

<p>
  <strong>Adjustment:</strong>
  <%= @assist.adjustment %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @assist.expense %>
</p>

<%= link_to '[edit]', edit_assist_path(@assist) %>

<% if current_avatar.admin? %>
  <p>
    <strong>Payout:</strong>
    <%= number_to_round_currency @assist.payout %>
  </p>
<% end %>
