<p>
  <strong>Deal:</strong>
  <%= link_to_name @assist.deal, :reference %>
</p>

<p>
  <strong>Assistant:</strong>
  <%= link_to_name @assist.assistant %>
</p>

<p>
  <strong>Role:</strong>
  <%= @assist.role %>
</p>

<p>
  <strong>Adjustment:</strong>
  <%= @assist.adjustment %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @assist.expense %>
</p>

<%= link_to '[edit]', edit_assist_path(@assist) %>

<% if current_agent.admin? %>
  <p>
    <strong>Payout:</strong>
    <%= number_to_round_currency @assist.payout %>
  </p>
<% end %>
