<%= link_to '[edit]', edit_assist_path(@assist) %>
<p>
  <strong>Deal:</strong>
  <%= link_to_name @assist.deal, :reference %>
</p>

<p>
  <strong>Assistant:</strong>
  <%= link_to_name @assist.assistant %>
</p>

<p>
  <strong>Role:</strong>
  <%= @assist.role %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assist.status %>
</p>
