<p id="notice"><%= notice %></p>

<h1>Industries</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Name', filter_params.merge(:sort => 'name') %></th>
      <th>Employers</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= link_to_name_with_icon industry %></td>
        <td><%= link_to_associated industry, :employers %></td>
        <td><%= link_to_associated industry, :employments %></td>
        <td><%= link_to_associated industry, :emails %></td>
        <td><%= link_to_associated industry, :phones %></td>
        <td><%= link_to_associated industry, :social_accounts %></td>
        <td><%= link_to 'Show', industry %></td>
        <td><%= link_to fa_icon(:highlighter), edit_industry_path(industry), :title => 'Edit' %></td>
        <td><%= link_to fa_icon(:backspace), industry, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @industries %>
<br>

<%= link_to 'New Industry', new_industry_path %>
