<p>
  <strong>Name:</strong>
  <%= @industry.name %>
</p>

<% @industry.employers.each do |employer| %>
  <%= div_for employer do %>
    <%= link_to_name_with_icon employer %>
    <%= div_for employer, :employments_at do %>
      <%= link_to_associated employer, :employments %>
      
      <% employer.employments.each do |employment| %>
        <%= div_for employment do %>
          <%= link_to_name_with_icon employment %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= link_to fa_icon(:highlighter), edit_industry_path(@industry), :title => 'Edit' %>
