<%= link_to '[edit]', edit_agent_path(@agent) %>

<p>
  <strong>First name:</strong>
  <%= @agent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @agent.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @agent.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agent.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @agent.status %>
</p>

<table>
  <% @agent.assists.each do |assist| %>
    <tr>
      <td><%= participation_in assist.role %></td>
      <td><%= link_to_name_with_icon assist %></td>
      <td><%= link_to_name_with_icon assist.deal, :reference %></td>
      <td><%= link_to fa_icon(:clipboard_list), assist.commission, :title => 'Review' if assist.commission %>
      <td><%= number_to_currency assist.payout if current_avatar.admin? %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Reauthorize Google Account', @google_auth_uri %><br>
<%= link_to 'Reauthorize Microsoft Account', @microsoft_auth_uri %>
