<%= form_with(:model => document, :class => 'document') do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :capture, 'Document Capture (scan or photo)' %><br>
    <%= form.file_field :capture %>
  </div>

  <div class="field">
    <%= form.label :role %><br>
    <%= form.select :role, document_role_options(document.role), :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :name, 'Nickname or Note (optional)' %><br>
    <%= form.text_field :name %>
    <div id="check_instructions">
      &lt;-- Type the value here.  Example: "2090.80", or <strong>"1250 + 1388.25"</strong> when multiple.
    </div>
  </div>
  
  <div class="actions">
    <%= form.submit 'Save Document' %>
  </div>
  
  <%= form.hidden_field :deal_id %>
  <%= form.hidden_field :agent_id %>
<% end %>
