<h1>Deals</h1>
<header>These are some of the deals that the team is working on.</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th><%= link_to 'Commission', :sort => 'commission', :filter_value => params[:filter_value], :filtered_attribute => params[:filtered_attribute] %></th>
      <th><%= link_to 'Agent', :sort => 'agent', :filter_value => params[:filter_value], :filtered_attribute => params[:filtered_attribute] %></th>
      <th><%= link_to 'Address', :sort => 'address', :filter_value => params[:filter_value], :filtered_attribute => params[:filtered_attribute] %></th>
      <th><%= link_to 'Unit number', :sort => 'unit_number', :filter_value => params[:filter_value], :filtered_attribute => params[:filtered_attribute] %></th>
      <th><%= link_to 'Status', :sort => 'status', :filter_value => params[:filter_value], :filtered_attribute => params[:filtered_attribute] %></th>
      <th><%= link_to 'Updated', :sort => 'updated_at', :filter_value => params[:filter_value], :filtered_attribute => params[:filtered_attribute] %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="deals_table">
    <% @deals.each do |deal| %>
      <tr>
        <td><%= link_to_name deal, :reference %></td>
        <td><%= number_to_currency deal.commission %></td>
        <td class="agent"><%= deals_by deal.agent %></td>
        <td><%= deal.address %></td>
        <td><%= deal.unit_number %></td>
        <td><%= status_clicker_for deal %></td>
        <td><%= deal.updated_at&.to_s :descriptive %>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @deals %>

<br>

<%= link_to 'New Deal', new_deal_path %>
<%= fabricate_deal_link :status => :completed %>
<%= fabricate_deal_link :status => :underway %>
