<h1>Deals</h1>
<header>These are some of the deals that the team is working on.</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Commission</th>
      <th>Agent</th>
      <th>Address</th>
      <th>Unit number</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= link_to_name deal %></td>
        <td><%= number_to_currency deal.commission %></td>
        <td><%= deal.agent&.email %></td>
        <td><%= deal.address %></td>
        <td><%= deal.unit_number %></td>
        <td><%= deal.status %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
