<%= link_to '[edit]', edit_deal_path(@deal) %>

<% if @deal.name.present? %>
  <p>
    <strong>Name:</strong>
    <%= @deal.name %>
  </p>
<% end %>
<p>
  <strong>Commission:</strong>
  <%= number_to_currency @deal.commission&.total_commission %><br>
  <%= link_to 'Paperwork', @deal.commission %>
</p>

<p>
  <%= @deal.address %>
  <strong><%= @deal.unit_number %></strong>
</p>

<p>
  <strong>Status:</strong>
  <%= @deal.status %>
</p>

<p class="agent">
  Agent: <%= deals_by @deal.agent %>
</p>

<div id="deal_payout_breakdown">
  <div>
    <%= content_tag :div, 'Rent', :class => 'deal_portion_description' %>
    <%= content_tag :div, @deal.annualized_rent, :class => 'deal_portion' %>
  </div>
  <%= tag.hr %>
  
  <div>
    <%= content_tag :div, 'Tenant Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, @deal.tenant_side_commission, :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Owner Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, "+ #{@deal.owner_pay_commission}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= tag.div :class => 'deal_portion_description' %>
    <%= content_tag :div, tag.hr, :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Total Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, @deal.total_commission, :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Listing Side', :class => 'deal_portion_description' %>
    <%= content_tag :div, "- #{@deal.listing_side_commission}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Co-Broke', :class => 'deal_portion_description' %>
    <%= content_tag :div, "- #{@deal.co_broke_commission}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Listing Fee', :class => 'deal_portion_description' %>
    <%= content_tag :div, "#{@deal.listing_fee}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Referral Payment', :class => 'deal_portion_description' %>
    <%= content_tag :div, "- #{@deal.referral_payment}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= tag.div :class => 'deal_portion_description' %>
    <%= content_tag :div, tag.hr, :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Inbound Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, @deal.inbound_commission, :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Cuts', :class => 'deal_portion_description' %>
  </div>
  
  <% if current_agent.admin? %>
    <div>
      <%= content_tag :div, 'House Cut', :class => 'deal_portion_description' %>
      <%= content_tag :div, @deal.house_cut, :class => 'deal_portion' %>
    </div>
    <div>
      <%= content_tag :div, 'Agent Payment', :class => 'deal_portion_description' %>
      <%= content_tag :div, @deal.agent_commission, :class => 'deal_portion' %>
    </div>
  <% end %>
  
</div>

<% @deal.participants.chrono.each do |participant| %>
  <%= div_for participant do %>
    <%= content_tag :div, linked_name(participant), :class => 'deal_portion_description' %>
    <%= content_tag :div, :class => 'deal_portion' do %>
      <%= @deal.distributable_commission participant.rate %> * <%= @deal.rate_for participant.role %> = 
      <%= number_to_currency(participant.payout) %>
    <% end %>
  <% end %>
<% end %>

<%= participant_adder @deal %>
