<%= link_to '[edit]', edit_deal_path(@deal) %>

<% if @deal.name.present? %>
  <p>
    <strong>Name:</strong>
    <%= @deal.name %>
  </p>
<% end %>
<p>
  <strong>Commission:</strong>
  <%= number_to_currency @deal.commission&.total_commission %><br>
  <%= link_to 'Paperwork', @deal.commission %>
</p>

<p>
  <%= @deal.address %>
  <strong><%= @deal.unit_number %></strong>
</p>

<p>
  <strong>Status:</strong>
  <%= @deal.status %>
</p>

<p class="agent">
  Agent: <%= deals_by @deal.agent %>
</p>

<% @deal.participants.chrono.each do |participant| %>
  <%= div_for participant do %>
    <%= linked_name participant %>
    <%= number_to_currency participant.payout %>
  <% end %>
<% end %>

<%= participant_adder @deal %>
