<%= link_to '[edit]', edit_deal_path(@deal) %>
<p>
  <strong>Name:</strong>
  <%= @deal.name %>
</p>

<p>
  <strong>Commission:</strong>
  <%= number_to_currency @deal.commission %>
</p>

<p>
  <strong>Address:</strong>
  <%= @deal.address %>
</p>

<p>
  <strong>Unit number:</strong>
  <%= @deal.unit_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @deal.status %>
</p>

<% @deal.participants.chrono.each do |participant| %>
  <%= div_for participant do %>
    <%= linked_name participant %>
    <%= number_to_currency participant.payout %>
  <% end %>
<% end %>

<%= participant_adder @deal %>
