<%= link_to '[edit]', edit_deal_path(@deal) %>

<% if @deal.name.present? %>
  <p>
    <strong>Name:</strong>
    <%= @deal.name %>
  </p>
<% end %>
<p>
  <strong>Commission:</strong>
  <%= number_to_currency @deal.commission&.total_commission %><br>
  <%= link_to 'Paperwork', @deal.commission %>
</p>

<p>
  <%= @deal.address %>
  <strong><%= @deal.unit_number %></strong>
</p>

<p>
  <strong>Status:</strong>
  <%= @deal.status %>
</p>

<p class="agent">
  Agent: <%= deals_by @deal.agent %>
</p>

<div id="deal_payout_breakdown">
  <div>
    <%= content_tag :div, 'Rent', :class => 'deal_portion_description' %>
    <%= content_tag :div, rounded(@deal.annualized_rent), :class => 'deal_portion' %>
  </div>
  <%= tag.hr %>
  
  <div>
    <%= content_tag :div, 'Tenant Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, rounded(@deal.tenant_side_commission), :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Owner Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, "+ #{rounded @deal.owner_pay_commission}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= tag.div :class => 'deal_portion_description' %>
    <%= content_tag :div, tag.hr, :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Total Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, rounded(@deal.total_commission), :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Listing Side', :class => 'deal_portion_description' %>
    <%= content_tag :div, "- #{rounded @deal.listing_side_commission}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Co-Broke', :class => 'deal_portion_description' %>
    <%= content_tag :div, "- #{rounded @deal.co_broke_commission}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Listing Fee', :class => 'deal_portion_description' %>
    <%= content_tag :div, "#{rounded @deal.listing_fee}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Referral Payment', :class => 'deal_portion_description' %>
    <%= content_tag :div, "- #{rounded @deal.referral_payment}", :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= tag.div :class => 'deal_portion_description' %>
    <%= content_tag :div, tag.hr, :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Inbound Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, rounded(@deal.inbound_commission), :class => 'deal_portion' %>
  </div>
  
  <% if current_agent.admin? %>
    <div>
      <%= content_tag :div, 'Citi Habitats Cut', :class => 'deal_portion_description' %>
      <%= content_tag :div, rounded(@deal.house_cut), :class => 'deal_portion' %>
    </div>
    <div>
      <%= content_tag :div, 'Citipads Closeout', :class => 'deal_portion_description' %>
      <%= content_tag :div, rounded(@deal.closeout), :class => 'deal_portion' %>
    </div>
    <div>
      <%= content_tag :div, 'Agent Payment', :class => 'deal_portion_description' %>
      <%= content_tag :div, rounded(@deal.agent_commission), :class => 'deal_portion' %>
    </div>
  <% end %>
  
</div>

<% @deal.assists.chrono.each do |assist| %>
  <%= div_for assist do %>
    <%= content_tag :div, linked_name(assist), :class => 'deal_portion_description' %>
    <%= content_tag :div, :class => 'deal_portion' do %>
      <%= @deal.distributable_commission assist.rate %> * <%= @deal.rate_for assist.role %> <%= rounded assist.adjustment %>
      <% if @deal.assists.where(:role => assist.role).count > 1 %>
        / <%= @deal.assists.where(:role => assist.role).count %>
      <% end %>
      =<%= number_to_currency(assist.payout) %>
    <% end %>
  <% end %>
<% end %>

<div class="payout">
  <%= @deal.commission&.subcommission_payout_summary %>
</div>

<%= assist_adder @deal %>

<%= special_payments_on @deal %>
