<div class="tools">
  <% if @deal.commission %>
    <%= link_to fa_icon(:stream, :size => '2x'), @deal.commission, :title => 'Review Commission Data' if @deal.commission.present? %>
    <%= link_to fa_icon(:file_export, :size => '2x'), commission_path(@deal.commission, :format => :pdf), :title => 'Print Preview of Rental Request for Commission' %>
    <%= link_to fa_icon(:newspaper, :size => '2x'), edit_commission_path(@deal.commission), :title => 'Fill Out Paperwork' %>
  <% else %>
    <%= link_to fa_icon(:newspaper, :size => '2x'), new_commission_path(:deal_id => @deal), :title => 'Begin Paperwork' %>
  <% end %>
  <%= link_to fa_icon(:atlas, :size => '2x'), edit_deal_path(@deal), :title => 'Manage Deal Details' %>
  <%= link_to fa_icon(:file_signature, :size => '2x'), new_document_path(:document => {:deal_id => @deal}), :title => 'Attach Document' %>
</div>

<% if @deal.name.present? %>
  <p>
    <strong>Nickname:</strong>
    <%= @deal.name %>
  </p>
<% end %>
<p>
  <%= @deal.address %>
  <strong><%= @deal.unit_number %></strong>
</p>

<p>
  <strong>Status:</strong>
  <%= @deal.status %>
</p>

<p class="agent">
  Agent: <%= link_to_name @deal.agent %>
</p>

<div id="deal_payout_breakdown">
  <div>
    <%= content_tag :div, 'Rent', :class => 'deal_portion_description' %>
    <%= content_tag :div, rounded(@deal.annualized_rent), :class => 'deal_portion' %>
  </div>
  <%= tag.hr %>
  
  <div>
    <%= content_tag :div, 'Tenant Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, rounded(@deal.tenant_side_commission), :class => 'deal_portion' %>
  </div>
  
  <% if @deal.owner_pay_commission.present? %>
    <div>
      <%= content_tag :div, 'Owner Commission', :class => 'deal_portion_description' %>
      <%= content_tag :div, "+ #{rounded @deal.owner_pay_commission}", :class => 'deal_portion' %>
    </div>
  <% end %>
  
  <div>
    <%= tag.div :class => 'deal_portion_description' %>
    <%= content_tag :div, tag.hr, :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Total Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, rounded(@deal.total_commission), :class => 'deal_portion' %>
  </div>
  
  <% if @deal.listing_side_commission.present? %>
    <div>
      <%= content_tag :div, 'Listing Side', :class => 'deal_portion_description' %>
      <%= content_tag :div, "- #{rounded @deal.listing_side_commission}", :class => 'deal_portion' %>
    </div>
  <% end %>
  
  <% if @deal.co_broke_commission.present? %>
    <div>
      <%= content_tag :div, 'Co-Broke', :class => 'deal_portion_description' %>
      <%= content_tag :div, "- #{rounded @deal.co_broke_commission}", :class => 'deal_portion' %>
    </div>
  <% end %>
  
  <% if @deal.listing_fee.present? %>
    <div>
      <%= content_tag :div, 'Listing Fee', :class => 'deal_portion_description' %>
      <%= content_tag :div, "#{rounded @deal.listing_fee}", :class => 'deal_portion' %>
    </div>
  <% end %>
  
  <% if @deal.referral_payment > 0 %>
    <div>
      <%= content_tag :div, 'Referral Payment', :class => 'deal_portion_description' %>
      <%= content_tag :div, "- #{rounded @deal.referral_payment}", :class => 'deal_portion' %>
    </div>
  <% end %>
  
  <div>
    <%= tag.div :class => 'deal_portion_description' %>
    <%= content_tag :div, tag.hr, :class => 'deal_portion' %>
  </div>
  
  <div>
    <%= content_tag :div, 'Inbound Commission', :class => 'deal_portion_description' %>
    <%= content_tag :div, rounded(@deal.inbound_commission), :class => 'deal_portion' %>
  </div>
  
  <% if current_agent.admin? %>
    <div>
      <%= content_tag :div, 'Citi Habitats Cut', :class => 'deal_portion_description' %>
      <%= content_tag :div, rounded(@deal.house_cut), :class => 'deal_portion' %>
    </div>
    <div>
      <%= content_tag :div, 'CitiPads Closeout', :class => 'deal_portion_description' %>
      <%= content_tag :div, rounded(@deal.closeout), :class => 'deal_portion' %>
    </div>
    
    <div>
      <%= content_tag :div, 'Agent Payment', :class => 'deal_portion_description' %>
      <%= content_tag :div, rounded(@deal.agent_commission), :class => 'deal_portion' %>
    </div>
  <% end %>
  
</div>
<div id="commission_assist_adder">
  <% @deal.assists.chrono.each do |assist| %>
    <%= div_for assist do %>
      <%= content_tag :div, linked_name(assist), :class => 'deal_portion_description' %>
      <% if current_agent.admin? || assist.assistant.agent == current_agent %>
        <%= content_tag :div, :class => 'deal_portion' do %>
          <%= rounded @deal.distributable_commission assist.rate %> * <%= assist.role_rate %>
          <%= '+ ' if assist.adjustment.to_d > 0 %>
          <%= rounded assist.adjustment %>
          <%= '+ ' if assist.expense.to_d > 0 %>
          <%= rounded assist.expense %>
          <% if @deal.assists.where(:role => assist.role).count > 1 %>
            / <%= @deal.assists.where(:role => assist.role).count %>
          <% end %>
          = <%= number_to_currency(assist.payout) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if current_agent.admin? %>
  <div class="payout">
    <%= @deal.commission&.subcommission_payout_summary %>
  </div>
<% end %>

<%= assist_adder @deal %>

<%= special_payments_on @deal if current_agent.admin? %>

<div class="document_list">
  <% if @deal.documents.present? %>
    <header>
      <%= pluralize @deal.documents.count, 'Document' %>
    </header>
  <% end %>
  <table>
    <% @deal.documents.each do |document| %>
      <%= div_for document do %>
        <%= document_row_for document %>
      <% end %>
    <% end %>
  </table>
</div>
