<p>
  <strong>Name:</strong>
  <%= @deal.name %>
</p>

<p>
  <strong>Commission:</strong>
  <%= number_to_currency @deal.commission %>
</p>

<p>
  <strong>Address:</strong>
  <%= @deal.address %>
</p>

<p>
  <strong>Unit number:</strong>
  <%= @deal.unit_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @deal.status %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>

<table>
  <% @deal.subcommissions.each do |roleplay, payout| %>
    <tr>
      <td><%= roleplay %></td>
      <td><%= number_to_currency payout %></td>
    </tr>
  <% end %>
</table>
