<p>
  <strong>Name:</strong>
  <%= @deal.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @deal.address %>
</p>

<p>
  <strong>Unit number:</strong>
  <%= @deal.unit_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @deal.status %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
