<div id="commission_participation_registration">
  <%= participant_adder @deal %>
  <%= assistant_adder @deal %>
</div>
<div id="commission_editor" data-turbolinks-permanent>
  <%= form_with(model: commission, local: true) do |form| %>
    <% if commission.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(commission.errors.count, "error") %> prohibited this commission from being saved:</h2>

        <ul>
        <% commission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.hidden_field :deal_id %>
    <%= form.hidden_field :landlord_id %>
    <%= form.hidden_field :agent_id %>

    <div class="commission_form_row">
      <%= form.label :branch_name %>
      <%= form.text_field :branch_name %>
    
      <%= form.label :request_date %>
      <%= form.date_select :request_date %>
    
      <%= form.label :intranet_deal_number %>
      <%= form.number_field :intranet_deal_number, :disabled => true %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :agent_name %>
      <%= form.text_field :agent_name %>
    
      <%= form.label :agent_split_percentage %>
      <%= form.text_field :agent_split_percentage %>
    
      <%= form.label :copy_of_lease %>
      <%= form.check_box :copy_of_lease %>
    </div>
    
    <div class="commission_form_row" id="commission_participant_adder">
      <% @deal.participants.chrono.each do |participant| %>
        <%= div_for participant do %>
          <%= linked_name(participant) %>
        <% end %>
      <% end %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :property_address %>
      <%= form.text_field :property_address %>
    
      <%= form.label :apartment_number %>
      <%= form.text_field :apartment_number %>
    
      <%= form.label :zip_code %>
      <%= form.text_field :zip_code %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :bedrooms %>
      <%= form.text_field :bedrooms %>
    
      <%= form.label :square_footage %>
      <%= form.number_field :square_footage %>
    
      <%= form.label :property_type %>
      <%= form.text_field :property_type %>
    
      <%= form.label :new_development %>
      <%= form.check_box :new_development %>
    </div>
    <div id="tenant_info_area">
      <div class="commission_form_row">
        <%= form.label :tenant_name %>
        <%= text_field_tag :'commission[tenant_name][]', commission.tenant_name&.first %>
    
        <%= form.label :tenant_email %>
        <%= text_field_tag :'commission[tenant_email][]', commission.tenant_email&.first %>
    
        <%= form.label :tenant_phone_number %>
        <%= text_field_tag :'commission[tenant_phone_number][]', commission.tenant_phone_number&.first %>
      </div>
  
      <div class="commission_form_row">
        <%= form.label :tenant_name %>
        <%= text_field_tag :'commission[tenant_name][]', commission.tenant_name&.second %>
    
        <%= form.label :tenant_email %>
        <%= text_field_tag :'commission[tenant_email][]', commission.tenant_email&.second %>
    
        <%= form.label :tenant_phone_number %>
        <%= text_field_tag :'commission[tenant_phone_number][]', commission.tenant_phone_number&.second %>
      </div>
    
      <% tenant_length = [commission.tenant_name.length, commission.tenant_email.length, commission.tenant_phone_number.length].max %>
      <% if tenant_length > 2 %>
        <% additional_tenants = tenant_length - 2 %>
        <% additional_tenants.times do |index| %>
          <div class="commission_form_row">
            <%= form.label :tenant_name %>
            <%= text_field_tag :'commission[tenant_name][]', commission.tenant_name[index + 2] %>
    
            <%= form.label :tenant_email %>
            <%= text_field_tag :'commission[tenant_email][]', commission.tenant_email[index + 2] %>
    
            <%= form.label :tenant_phone_number %>
            <%= text_field_tag :'commission[tenant_phone_number][]', commission.tenant_phone_number[index + 2] %>
          </div>
        <% end %>
      <% end %>
    
      <%= link_to 'Add a Tenant', add_tenant_to_commissions_path(commission), :remote => true, :id => 'tenant_add_link' %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :landlord_name %>
      <%= form.text_field :landlord_name %>
    
      <%= form.label :landlord_email %>
      <%= form.email_field :landlord_email %>
    
      <%= form.label :landlord_phone_number %>
      <%= form.text_field :landlord_phone_number %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :lease_start_date %>
      <%= form.date_select :lease_start_date %>
    
      <%= form.label :lease_term_date %>
      <%= form.date_select :lease_term_date %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :lease_sign_date %>
      <%= form.date_select :lease_sign_date %>
    
      <%= form.label :approval_date %>
      <%= form.date_select :approval_date %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :listed_monthly_rent %>
      <%= form.text_field :listed_monthly_rent, :class => 'rent' %>
    
      <%= form.label :leased_monthly_rent %>
      <%= form.text_field :leased_monthly_rent, :class => 'rent', :onblur => 'annualize()' %>
    
      <%= form.label :annualized_rent %>
      <%= form.text_field :annualized_rent, :class => 'rent', :value => number_with_precision(commission.annualized_rent, :precision => 2) %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :commission_fee_percentage %>
      <%= form.text_field :commission_fee_percentage, :onblur => 'ripple()' %>
    
      <%= form.label :total_commission %>
      <%= form.text_field :total_commission, :class => 'commission', :value => number_with_precision(commission.total_commission, :precision => 2) %>
    
      <%= form.label :citi_commission %>
      <%= form.text_field :citi_commission, :class => 'commission', :value => number_with_precision(commission.citi_commission, :precision => 2)%>
    
      <%= form.label :co_broke_commission %>
      <%= form.text_field :co_broke_commission, :class => 'commission', :value => number_with_precision(commission.co_broke_commission, :precision => 2) %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :owner_pay_commission %>
      <%= form.text_field :owner_pay_commission, :class => 'commission', :value => number_with_precision(commission.owner_pay_commission, :precision => 2), :onblur => 'total()' %>
    
      <%= form.label :listing_side_commission %>
      <%= form.text_field :listing_side_commission, :class => 'commission', :value => number_with_precision(commission.listing_side_commission, :precision => 2) %>
    
      <%= form.label :tenant_side_commission %>
      <%= form.text_field :tenant_side_commission, :class => 'commission', :value => number_with_precision(commission.tenant_side_commission, :precision => 2) %>
    </div>
  
    <div class="commission_form_row">
      <%= form.label :reason_for_fee_reduction %>
      <%= form.text_field :reason_for_fee_reduction %>
    
      <%= form.label :landlord_source %>
      <%= form.text_field :landlord_source %>
    
      <%= form.label :tenant_source %>
      <%= form.text_field :tenant_source %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
