<p id="notice"><%= notice %></p>

<h1>Commissions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="commissions_table">
    <% @commissions.each do |commission| %>
      <tr>
        <td><%= commission.tenant_name.join ', ' %></td>
        <td><%= number_to_currency commission.leased_monthly_rent %></td>
        <td><%= commission.apartment_number %></td>
        <td><%= commission.landlord_name %></td>
        <td><%= commission.zip_code %></td>
        <td><%= commission.updated_at.strftime "%a %-m/%-d %-I:%M%P" %></td>
        <td><%= link_to 'Show', commission %></td>
        <td><%= link_to 'Edit', edit_commission_path(commission) %></td>
        <td><%= link_to 'Print', commission_path(commission, :format => :pdf) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @commissions %>
<br>

<%= link_to 'New Commission', new_commission_path %>
<%= fabricate_commission_link %>
