<p id="notice"><%= notice %></p>

<h1>Commissions</h1>
<div class="tools">
  <%= link_to 'New Commission', new_commission_path %>
  <%= fabricate_commission_link(:commission, :position => :top) %>
</div>

<table>
  <thead>
    <tr>
      <th>Tenants</th>
      <th>Rent</th>
      <th>Unit</th>
      <th>Landlord</th>
      <th>Zip</th>
    </tr>
  </thead>

  <tbody id="commissions_table">
    <% @commissions.each do |commission| %>
      <%= commission_row_for commission %>
    <% end %>
  </tbody>
</table>
<%= paginate @commissions %>
<br>

<div class="tools">
  <%= link_to 'New Commission', new_commission_path %>
  <%= fabricate_commission_link(:commission, :position => :bottom) %>
  <%= fabricate_commission_link(:co_exclusive_commission, :position => :bottom) %>
  <%= fabricate_commission_link(:exclusive_agency_commission, :position => :bottom) %>
  <%= fabricate_commission_link(:exclusive_agent_commission, :position => :bottom) %>
  <%= fabricate_commission_link(:referral_commission, :position => :bottom) %>
</div>
