<div class="tools">
  <%= link_to fa_icon(:file_signature, :size => '2x'), new_document_path(:document => {:deal_id => @commission.deal}), :remote => true, :title => 'Attach Document' %>
  <%= link_to fa_icon(:file_export, :size => '2x'), commission_path(@commission, :format => :pdf), :title => 'Print Preview of Rental Request for Commission' %>
  <%= link_to fa_icon(:newspaper, :size => '2x'), edit_commission_path(@commission), :title => 'Edit Paperwork' %>
  <%= link_to fa_icon(:file_invoice_dollar, :size => '2x'), @commission.deal, :title => 'Finance Breakdown' %>
</div>

<%= document_uploader_area %>

<div class="commission_vitals">
  <div id="lessees">
    Tenants: <%= @commission.tenant_name.to_sentence %>
  </div>
  
  <div id="location">
    <%= @commission.property_address %> <%= @commission.apartment_number %><br>
    <%= @commission.zip_code %>
  </div>
  <hr>
  <%= clearboth %>
  
  <div id="lease_basics">
    <%= number_to_round_currency @commission.leased_monthly_rent %><br>
    <%= @commission.lease_start_date.strftime("%-m/%-d/%y") %> + <%= @commission.lease_term %>
  </div>
  
  <div id="property_description">
    <%= @commission.new_development ? 'new development' : '' %> <%= @commission.square_footage.present? ? "#{rounded @commission.square_footage} sq ft}" : '' %> <%= @commission.property_type %> with <%= pluralize rounded(@commission.bedrooms), 'bedroom' %>
  </div>
  
  <div id="commission_navigation">
    Landlord: <%= link_to_name @commission.landlord %><br>
    <%= link_to_name @commission.deal, :reference %><br>
  </div>
</div>

<div class="commission_financials">
  <span>Annualized Rent:</span> <%= number_to_round_currency @commission.annualized_rent %><br>
  <span>Total Commission:</span> <%= number_to_round_currency @commission.total_commission %>
  (<%= rounded @commission.commission_fee_percentage %>%)<br>
  
  <% if @commission.owner_pay_commission > 0 %>
    <span>Owner Pay Commission:</span> <%= number_to_round_currency @commission.owner_pay_commission %><br>
  <% end %>
  
  <% if @commission.listing_side_commission > 0 %>
    <span>Listing Side Commission:</span> <%= number_to_round_currency @commission.listing_side_commission %><br>
  <% end %>
  
  <span>Tenant Side Commission:</span> <%= number_to_round_currency @commission.tenant_side_commission %><br>

  <% if @commission.co_broke_commission > 0 %>
    <span>Co-Broke Commission:</span> <%= number_to_round_currency @commission.co_broke_commission %><br>
  <% end %>
  <span>Citi Commission:</span> <%= number_to_round_currency @commission.citi_commission %>
  <span>(Documented: <%= number_to_round_currency @commission.documented_commission %>)</span>
  <br>
  
  <span>Lease signed on </span> <%= @commission.lease_sign_date.strftime "%-m/%-d" %><span> and approved</span> <%= @commission.approval_date.strftime "%-m/%-d" %>.
  <span>Commission requested</span> <%= @commission.request_date.strftime "%-m/%-d" %>.<br>
  <%= completion_state @commission %>
</div>

<%= @commission.documentation_status %>
<% if @commission.documents.present? %>
  <header>
    <%= pluralize @commission.documents.count, 'Document' %>
  </header>
<% end %>
<table id="commission_documentation">
  <% @commission.documents.each do |document| %>
    <%= document_row_for document %>
  <% end %>
</table>
