<p id="notice"><%= notice %></p>

<h1>Employers</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Name', :sort => 'name' %></th>
      <th>Industries</th>
      <th>Employments</th>
      <th colspan="3"></th>
      <th>Address</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= employer.name %></td>
        <td><%= link_to_associated employer, :industries %></td>
        <td><%= link_to_associated employer, :employments %></td>
        <td><%= link_to_associated employer, :emails %></td>
        <td><%= link_to_associated employer, :phones %></td>
        <td><%= link_to_associated employer, :social_accounts %></td>
        <td><%= employer.address %></td>
        <td><%= employer.url %></td>
        <td><%= link_to 'Show', employer %></td>
        <td><%= link_to fa_icon(:highlighter), edit_employer_path(employer), :title => 'Edit' %></td>
        <td><%= link_to fa_icon(:backspace), employer, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @employers %>
<br>

<%= link_to 'New Employer', new_employer_path %>
