<p id="notice"><%= notice %></p>

<h1>Employers</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Name', filter_params.merge(:sort => 'name') %></th>
      <th>Industries</th>
      <th>Employments</th>
      <th colspan="3"></th>
      <th>Address</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <%= employer_row_for employer  %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @employers %>
<br>

<%= link_to 'New Employer', new_employer_path %>
