<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employer.address %>
</p>

<p>
  <strong>Url:</strong>
  <%= @employer.url %>
</p>

<% @employer.employments.each do |employment| %>
  <%= div_for employment do %>
    <%= link_to_name_with_icon employment %>
    
    <% employment.contacts.each do |contact| %>
      <%= div_for contact do %>
        <%= link_to_name_with_icon contact %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
