<%= form_with(model: involvement, local: true) do |form| %>
  <% if involvement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(involvement.errors.count, "error") %> prohibited this involvement from being saved:</h2>

      <ul>
      <% involvement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :package_id %>
    <%= form.select :package_id, options_from_collection_for_select(Package.all, :id, :name, involvement.package_id), :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.select :role_id, options_from_collection_for_select(Role.all, :id, :name, involvement.role_id), :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
