<%= form_with(model: lease, local: true) do |form| %>
  <% if lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% lease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :apartment_number %>
    <%= form.text_field :apartment_number %>
  </div>

  <div class="field">
    <%= form.label :street_number %>
    <%= form.text_field :street_number %>
  </div>

  <div class="field">
    <%= form.label :street_name %>
    <%= form.text_field :street_name %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>

  <div class="field">
    <%= form.label :landlord_id %>
    <%= form.text_field :landlord_id %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id %>
  </div>

  <div class="field">
    <%= form.label :registration_id %>
    <%= form.text_field :registration_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
