<p>
  <strong>Apartment number:</strong>
  <%= @lease.apartment_number %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @lease.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @lease.street_name %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @lease.zip_code %>
</p>

<p>
  <strong>Landlord:</strong>
  <%= link_to_name_with_icon @lease.landlord %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to_associated @lease, :clients %>
</p>

<p>
  <strong>Registration:</strong>
  <%= link_to_name_with_icon @lease.registration %>
</p>

<%= link_to fa_icon(:highlighter), edit_lease_path(@lease), :title => 'Edit' %>
