<p id="notice"><%= notice %></p>

<p>
  <strong>Variety:</strong>
  <%= @email.variety %>
</p>

<p>
  <strong>Address:</strong>
  <%= @email.address %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to_name @email.client %>
</p>

<p>
  <strong>Employer:</strong>
  <%= link_to_name @email.employer %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
