<p id="notice"><%= notice %></p>

<h1>Landlords</h1>

<table>
  <tbody id="landlords_table">
    <% @landlords.each do |landlord| %>
      <tr>
        <td><%= landlord.name %></td>
        <td><%= landlord.email %></td>
        <td><%= landlord.phone_number %></td>
        <td><%= landlord.updated_at.to_s :descriptive %></td>
        <td><%= link_to 'Show', landlord %></td>
        <td><%= link_to 'Edit', edit_landlord_path(landlord) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @landlords %>
<br>

<div class="tools">
  <%= link_to 'New Landlord', new_landlord_path %>
  <%= fabricate_landlord_link %>
</div>
