<p id="notice"><%= notice %></p>

<h1>Landlords</h1>

<table>
  <tbody id="landlords_table">
    <% @landlords.each do |landlord| %>
      <%= landlord_row_for landlord %>
    <% end %>
  </tbody>
</table>
<%= paginate @landlords %>
<br>

<div class="tools">
  <%= link_to 'New Landlord', new_landlord_path %>
  <%= fabricate_landlord_link %>
</div>
