<p id="notice"><%= notice %></p>

<h1>Landlords</h1>

<table>
  <thead>
    <th><%= link_to 'Name', :sort => 'name' %></th>
    <th><%= link_to 'Deal Count', :sort => 'deal_count' %></th>
    <th></th>
    <th></th>
    <th></th>
    <th><%= link_to 'Last Approval', :sort => 'recent_commission' %></th>
  </thead>
  <tbody id="landlords_table">
    <% @landlords.each do |landlord| %>
      <%= landlord_row_for landlord %>
    <% end %>
  </tbody>
</table>
<%= paginate @landlords %>
<br>

<div class="tools">
  <%= link_to 'New Landlord', new_landlord_path %>
  <%= fabricate_landlord_link %>
</div>
