<!DOCTYPE html>
<html>
  <head>
    <title>Commissulator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= google_fonts %>
  </head>

  <body>
    <nav id="top_floor_penthouse_navigation">
      <% if current_agent %>
        <%= link_to 'Deals', deals_path %>
        <%= link_to 'Assistants', assistants_path %>
        <%= link_to 'Participants', participants_path %>
        <%= link_to 'Sign Out', destroy_agent_session_path, :method => :delete, :id => 'sign_out_link' %>
      <% else %>
        <%= link_to 'Authenticate', new_agent_session_path %> | 
        <%= link_to 'Register', new_agent_registration_path %>
      <% end %>
    </nav>
    <section class="notice"><%= notice %></section>
    <section class="alert"><%= alert %></section>
    <%= yield %>
  </body>
</html>
