<!DOCTYPE html>
<html>
  <head>
    <title>Commissulator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="notice"><%= notice %></section>
    <section class="alert"><%= alert %></section>
    <%= yield %>
  </body>
</html>
