<!DOCTYPE html>
<html>
  <head>
    <title>Commissulator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= google_fonts %>
  </head>

  <body>
    <%= penthouse_nav %>
    
    <section class="notice"><%= notice %></section>
    <section class="alert"><%= alert %></section>
    <section class="central">
      <%= yield %>
    </section>
  </body>
</html>
